/**
 * This file is part of the Tracy (https://tracy.nette.org)
 */

/* common styles */
#tracy-debug,
#tracy-debug * {
	font: inherit;
	line-height: inherit;
	color: inherit;
	background: transparent;
	margin: 0;
	padding: 0;
	border: none;
	text-align: inherit;
	list-style: inherit;
	opacity: 1;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	box-sizing: border-box;
	text-decoration: none;
	text-transform: inherit;
	white-space: inherit;
	float: none;
	clear: none;
	max-width: initial;
	min-width: initial;
	max-height: initial;
	min-height: initial;
}

#tracy-debug *:not(svg):not(img):not(table) {
	width: initial;
	height: initial;
}

#tracy-debug:before,
#tracy-debug:after,
#tracy-debug *:before,
#tracy-debug *:after {
	all: unset;
}

#tracy-debug {
	display: none;
	direction: ltr;
}

body#tracy-debug { /* in popup window */
	display: block;
}

#tracy-debug:not(body) {
	position: absolute;
	left: 0;
	top: 0;
}

#tracy-debug b,
#tracy-debug strong {
	font-weight: bold;
}

#tracy-debug small {
	font-size: smaller;
}

#tracy-debug i,
#tracy-debug em {
	font-style: italic;
}

#tracy-debug a {
	color: #125EAE;
	text-decoration: none;
}

#tracy-debug a:hover,
#tracy-debug a:focus {
	background-color: #125EAE;
	color: white;
}

#tracy-debug h2,
#tracy-debug h3,
#tracy-debug p {
	margin: .4em 0;
}

#tracy-debug table {
	border-collapse: collapse;
	background: #FDF5CE;
	width: 100%;
}

#tracy-debug tr:nth-child(2n) td {
	background: #F7F0CB;
}

#tracy-debug td,
#tracy-debug th {
	border: 1px solid #E6DFBF;
	padding: 2px 5px;
	vertical-align: top;
	text-align: left;
}

#tracy-debug th {
	background: #F4F3F1;
	color: #655E5E;
	font-size: 90%;
	font-weight: bold;
}

/* TableSort */
#tracy-debug .tracy-sortable tr:first-child > * {
	position: relative;
}

#tracy-debug .tracy-sortable tr:first-child > *:hover:before {
	position: absolute;
	right: .3em;
	content: "\21C5";
	opacity: .4;
	font-weight: normal;
}

#tracy-debug pre,
#tracy-debug code {
	font: 9pt/1.5 Consolas, monospace;
}

#tracy-debug pre {
	white-space: pre;
}

#tracy-debug table .tracy-right {
	text-align: right;
}

#tracy-debug svg {
	display: inline;
}


/* bar */
#tracy-debug-bar {
	font: normal normal 13px/1.55 Tahoma, sans-serif;
	color: #333;
	border: 1px solid #c9c9c9;
	background: #EDEAE0 url('data:image/png;base64,R0lGODlhAQAUALMAAOzq4e/t5e7s4/Dt5vDu5e3r4vDu5uvp4O/t5AAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABABQAAAQM0EgySEAYi1LA+UcEADs=') top;
	background-size: 1em;
	position: fixed;

	min-width: 50px;
	white-space: nowrap;

	z-index: 30000;
	opacity: .9;
	transition: opacity 0.2s;
	will-change: opacity, top, left;

	border-radius: 3px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);
}

#tracy-debug-bar:hover {
	opacity: 1;
	transition: opacity 0.1s;
}

#tracy-debug-bar .tracy-row {
	list-style: none none;
	display: flex;
}

#tracy-debug-bar .tracy-row:not(:first-child) {
	background: #d5d2c6;
	opacity: .8;
}

#tracy-debug-bar .tracy-row[data-tracy-group="ajax"] {
	animation: tracy-row-flash .2s ease;
}

@keyframes tracy-row-flash {
	0% {
		background: #c9c0a0;
	}
}

#tracy-debug-bar .tracy-row:not(:first-child) li:first-child {
	width: 4.1em;
	text-align: center;
}

#tracy-debug-bar img {
	vertical-align: bottom;
	position: relative;
	top: -2px;
}

#tracy-debug-bar svg {
	vertical-align: bottom;
	width: 1.23em;
	height: 1.55em;
}

#tracy-debug-bar .tracy-label {
	margin-left: .2em;
}

#tracy-debug-bar li > a,
#tracy-debug-bar li > span {
	color: #000;
	display: block;
	padding: 0 .4em;
}

#tracy-debug-bar li > a:hover {
	color: black;
	background: #c3c1b8;
}

#tracy-debug-bar li:first-child {
	cursor: move;
}

#tracy-debug-logo svg {
	width: 3.4em;
	margin: 0 .2em 0 .5em;
}


/* panels */
#tracy-debug .tracy-panel {
	display: none;
	font: normal normal 12px/1.5 sans-serif;
	background: white;
	color: #333;
	text-align: left;
}

body#tracy-debug .tracy-panel { /* in popup window */
	display: block;
}

#tracy-debug h1 {
	font: normal normal 23px/1.4 Tahoma, sans-serif;
	color: #575753;
	margin: -5px -5px 5px;
	padding: 0 25px 0 5px;
	word-wrap: break-word;
}

#tracy-debug .tracy-inner {
	overflow: auto;
	flex: 1;
}

#tracy-debug .tracy-panel .tracy-icons {
	display: none;
}

#tracy-debug .tracy-panel-ajax > h1::after,
#tracy-debug .tracy-panel-redirect > h1::after {
	content: 'ajax';
	float: right;
	font-size: 65%;
	margin: 0 .3em;
}

#tracy-debug .tracy-panel-redirect h1::after {
	content: 'redirect';
}

#tracy-debug .tracy-mode-peek,
#tracy-debug .tracy-mode-float {
	position: fixed;
	flex-direction: column;
	padding: 10px;
	min-width: 200px;
	min-height: 80px;
	border-radius: 5px;
	box-shadow: 1px 1px 20px rgba(102, 102, 102, 0.36);
	border: 1px solid rgba(0, 0, 0, 0.1);
}

#tracy-debug .tracy-mode-peek,
#tracy-debug .tracy-mode-float:not(.tracy-panel-resized) {
	max-width: 700px;
	max-height: 500px;
}

@media (max-height: 555px) {
	#tracy-debug .tracy-mode-peek,
	#tracy-debug .tracy-mode-float:not(.tracy-panel-resized) {
		max-height: 100vh;
	}
}

#tracy-debug .tracy-mode-peek h1 {
	cursor: move;
}

#tracy-debug .tracy-mode-float {
	display: flex;
	opacity: .95;
	transition: opacity 0.2s;
	will-change: opacity, top, left;
	overflow: auto;
	resize: both;
}

#tracy-debug .tracy-focused {
	display: flex;
	opacity: 1;
	transition: opacity 0.1s;
}

#tracy-debug .tracy-mode-float h1 {
	cursor: move;
}

#tracy-debug .tracy-mode-float .tracy-icons {
	display: block;
	position: absolute;
	top: 0;
	right: 5px;
	font-size: 18px;
}

#tracy-debug .tracy-mode-window {
	padding: 10px;
}

#tracy-debug .tracy-icons a {
	color: #575753;
}

#tracy-debug .tracy-icons a:hover {
	color: white;
}


#tracy-debug .tracy-inner-container {
	min-width: 100%;
	float: left;
}


/* dump */
#tracy-debug pre.tracy-dump div {
	padding-left: 3ex;
}

#tracy-debug pre.tracy-dump div div {
	border-left: 1px solid rgba(0, 0, 0, .1);
	margin-left: .5ex;
}

#tracy-debug pre.tracy-dump {
	background: #FDF5CE;
	padding: .4em .7em;
	border: 1px dotted silver;
	overflow: auto;
}

#tracy-debug table pre.tracy-dump {
	padding: 0;
	margin: 0;
	border: none;
}

#tracy-debug .tracy-dump-array,
#tracy-debug .tracy-dump-object {
	color: #C22;
}

#tracy-debug .tracy-dump-string {
	color: #35D;
}

#tracy-debug .tracy-dump-number {
	color: #090;
}

#tracy-debug .tracy-dump-null,
#tracy-debug .tracy-dump-bool {
	color: #850;
}

#tracy-debug .tracy-dump-visibility,
#tracy-debug .tracy-dump-hash {
	font-size: 85%; color: #999;
}

#tracy-debug .tracy-dump-indent {
	display: none;
}


/* toggle */
#tracy-debug .tracy-toggle:after {
	content: "\A0\25BC";
	opacity: .4;
}

#tracy-debug .tracy-toggle.tracy-collapsed:after {
	content: "\A0\25BA";
}


@media print {
	#tracy-debug * {
		display: none;
	}
}
