/**
 * This file is part of the Tracy (https://tracy.nette.org)
 */

.tracy-light {
	&.tracy-dump {
		text-align: left;
		color: #444;
		background: #fdf9e2;
		border-radius: 4px;
		padding: 1em;
		margin: 1em 0;
		word-break: break-all;
		white-space: pre-wrap;
	}

	&.tracy-dump div {
		padding-left: 2.5ex;
	}

	&.tracy-dump div div {
		border-left: 1px solid rgba(0, 0, 0, .1);
		margin-left: .5ex;
	}

	&.tracy-dump div div:hover {
		border-left-color: rgba(0, 0, 0, .25);
	}

	.tracy-dump-location {
		color: gray;
		font-size: 80%;
		text-decoration: none;
		background: none;
		opacity: .5;
		float: right;
		cursor: pointer;
	}

	.tracy-dump-location:hover,
	.tracy-dump-location:focus {
		opacity: 1;
	}

	.tracy-dump-array,
	.tracy-dump-object {
		color: #C22;
		user-select: text;
	}

	.tracy-dump-string {
		color: #35D;
		white-space: break-spaces;
	}

	& div.tracy-dump-string {
		position: relative;
		padding-left: 3.5ex;
	}

	.tracy-dump-lq {
		margin-left: calc(-1ex - 1px);
	}

	& div.tracy-dump-string:before {
		content: '';
		position: absolute;
		left: calc(3ex - 1px);
		top: 1.5em;
		bottom: 0;
		border-left: 1px solid rgba(0, 0, 0, .1);
	}

	.tracy-dump-virtual span,
	.tracy-dump-dynamic span,
	.tracy-dump-string span {
		color: rgba(0, 0, 0, 0.5);
	}

	.tracy-dump-virtual i,
	.tracy-dump-dynamic i,
	.tracy-dump-string i {
		font-size: 80%;
		font-style: normal;
		color: rgba(0, 0, 0, 0.5);
		user-select: none;
	}

	.tracy-dump-number {
		color: #090;
	}

	.tracy-dump-null,
	.tracy-dump-bool {
		color: #850;
	}

	.tracy-dump-virtual {
		font-style: italic;
	}

	.tracy-dump-public::after {
		content: ' pub';
	}

	.tracy-dump-protected::after {
		content: ' pro';
	}

	.tracy-dump-private::after {
		content: ' pri';
	}

	.tracy-dump-public::after,
	.tracy-dump-protected::after,
	.tracy-dump-private::after,
	.tracy-dump-hash {
		font-size: 85%;
		color: rgba(0, 0, 0, 0.35);
	}

	.tracy-dump-indent {
		display: none;
	}

	.tracy-dump-highlight {
		background: #C22;
		color: white;
		border-radius: 2px;
		padding: 0 2px;
		margin: 0 -2px;
	}

	span[data-tracy-href] {
		border-bottom: 1px dotted rgba(0, 0, 0, .2);
	}

	.tracy-dump-flash {
		animation: tracy-dump-flash .2s ease;
	}

	@keyframes tracy-dump-flash {
		0% {
			background: #c0c0c033;
		}
	}
}
