/**
 * This file is part of the Tracy (https://tracy.nette.org)
 */

pre.tracy-dump {
	text-align: left;
	color: #444;
	background: white;
}

pre.tracy-dump div {
	padding-left: 3ex;
}

pre.tracy-dump div div {
	border-left: 1px solid rgba(0, 0, 0, .1);
	margin-left: .5ex;
}

pre.tracy-dump div div:hover {
	border-left-color: rgba(0, 0, 0, .25);
}

pre.tracy-dump a {
	color: #125EAE;
	text-decoration: none;
}

pre.tracy-dump a:hover,
pre.tracy-dump a:focus {
	background-color: #125EAE;
	color: white;
}

.tracy-dump-array,
.tracy-dump-object {
	color: #C22;
	user-select: text;
}

.tracy-dump-string {
	color: #35D;
}

.tracy-dump-number {
	color: #090;
}

.tracy-dump-null,
.tracy-dump-bool {
	color: #850;
}

.tracy-dump-virtual {
	font-style: italic;
}

.tracy-dump-public::after {
	content: ' public';
}

.tracy-dump-protected::after {
	content: ' protected';
}

.tracy-dump-private::after {
	content: ' private';
}

.tracy-dump-public::after,
.tracy-dump-protected::after,
.tracy-dump-private::after,
.tracy-dump-hash {
	font-size: 85%;
	color: rgba(0, 0, 0, 0.5);
}

.tracy-dump-indent {
	display: none;
}

.tracy-dump-highlight {
	background: #C22;
	color: white;
	border-radius: 2px;
	padding: 0 2px;
	margin: 0 -2px;
}

span[data-tracy-href] {
	border-bottom: 1px dotted rgba(0, 0, 0, .2);
}

.tracy-dump-flash {
	animation: tracy-dump-flash .2s ease;
}

@keyframes tracy-dump-flash {
	0% {
		background: #c0c0c033;
	}
}
