/**
 * This file is part of the Tracy (https://tracy.nette.org)
 */

* {
	font: inherit;
	line-height: inherit;
	color: inherit;
	background: transparent;
	margin: 0;
	padding: 0;
	border: none;
	text-align: inherit;
	list-style: inherit;
	opacity: 1;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	box-sizing: border-box;
	text-decoration: none;
	text-transform: inherit;
	white-space: inherit;
	float: none;
	clear: none;
}

*:hover {
	color: inherit;
	background: transparent;
}

b,
strong {
	font-weight: bold;
}

small {
	font-size: smaller;
}

i,
em {
	font-style: italic;
}

big {
	font-size: larger;
}

small,
sub,
sup {
	font-size: smaller;
}

ins {
	text-decoration: underline;
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
}

pre {
	font-family: monospace;
	white-space: pre;
}

code,
kbd,
samp {
	font-family: monospace;
}

input {
	background-color: white;
	padding: 1px;
	border: 1px solid;
}

textarea {
	background-color: white;
	border: 1px solid;
	padding: 2px;
	white-space: pre-wrap;
}

select {
	border: 1px solid;
	white-space: pre;
}

article,
aside,
details,
div,
figcaption,
footer,
form,
header,
hgroup,
main,
nav,
section,
summary,
pre,
p,
dl,
dd,
dt,
blockquote,
figure,
address,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
hr {
	display: block;
}

a,
b,
big,
code,
em,
i,
small,
span,
strong {
	display: inline;
}

table {
	display: table;
}

tr {
	display: table-row;
}

col {
	display: table-column;
}

colgroup {
	display: table-column-group;
}

tbody {
	display: table-row-group;
}

thead {
	display: table-header-group;
}

tfoot {
	display: table-footer-group;
}

td {
	display: table-cell;
}

th {
	display: table-cell;
}
