{*
 * @var array<array{title: string|null, dump: string}> $data
 *}
<style class="tracy-debug">
	#tracy-debug .tracy-DumpPanel h2 {
		font: 11pt/1.5 sans-serif;
		margin: 0;
		padding: 2px 8px;
		background: #3484d2;
		color: white;
	}
</style>

<h1>Dumps</h1>

<div class="tracy-inner tracy-DumpPanel">
	{foreach $data as $item}
		{if $item[title]}
			<h2>{$item[title]}</h2>
		{/if}

		{$item[dump]|noescape}
	{/foreach}
</div>
